{% extends "baseConnect.html.twig" %}

{% block title %}Espace d'authentification{% endblock %}

{% block content %}

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

        <ol class="breadcrumb">
            <li><a href="#"><svg class="glyph stroked chevron down"><use xlink:href="#stroked-chevron-down"></use></svg></a></li>
            <li class="active">Simuler un crédit</li>
        </ol>

        <div class="col-lg-12">
            <h3 class="page-header">Veuillez choisir un type de crédit et la méthode de simulation :</h3>
        </div>

        <form role="form">
            <div class="col-md-8">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Les types de crédits disponibles :</label>
                        <select class="form-control" id="produit" >
                            <option value="-1" disabled selected>----------------------- Choisir -----------------------</option>
                            {% for p in produit %}
                                <option value="{{ p.IdProduit }}" >{{ p.NomProduit }}</option>
                            {% endfor %}
                        </select>
                        <small id="error_produit" class="text-danger"></small>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>La methode de simulation :</label>
                        <select class="form-control" id="methode_calcule">
                            <option value="-1"  disabled selected>----------------------- Choisir -----------------------</option>
                            <option value="1">Montant Total de Crédit</option>
                            <option value="2">Duree de Crédit</option>
                            <option value="3">Echeance de Crédit</option>
                        </select>
                        <small id="error_methode_calcule" class="text-danger"></small>
                    </div>
                </div>
                <div class="col-md-2">
                    <br>
                    <button type="button" class="btn btn-primary" id="simuler" >Simuler</button>
                </div>
            </div>
            <div class="col-md-8" >
                <div class="panel panel-default" style="visibility:hidden">
                    <div class="panel-heading">Veuillez renseigner les détails du crédit</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Valeur du crédit</label>
                                    <input type="number" class="form-control" placeholder="La valeur du crédit" id="valeur_credit"/>
                                    <small id="error_valeur_credit" class="text-danger">

                                    </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Duree du crédit</label>
                                    <input type="number" class="form-control" placeholder="La durée du crédit" id="duree_credit">
                                    <small id="error_duree_credit" class="text-danger">

                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label> Montant de l'echéance</label>
                                    <input type="number" class="form-control" placeholder="Le montant de l'échéance" id="montant_echeance">
                                    <small id="eroor_montant_echeance" class="text-danger">

                                    </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Le taux d'interêt du crédit</label>
                                    <input type="number" class="form-control" placeholder="Le taux d'interêt du crédit" id="taux_interet">
                                    <small id="error_taux_interet" class="text-danger">

                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6" align="center">
                                <button type="button" class="btn btn-primary">Calculer Echeancier</button>
                                <button type="reset" class="btn btn-default">Réinitialiser les valeurs</button>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>




    </div>
{% endblock %}

