{% extends "baseConnect.html.twig" %}

{% block title %}Nos crédits{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">Simuler un crédit</div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <td width="50%">
                                <label>Type de crédit</label>
                            </td>
                            <td width="50%">
                                <select class="form-control">
                                    <option>Crédit immobilier</option>
                                    <option>Crédit étudiant</option>
                                    <option>Crédit startup</option>
                                    <option>Crédit consommation</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%">
                                <label>Taux d'intérêt</label>
                            </td>
                            <td width="50%">
                                <input class="form-control" placeholder="Selon type de crédit" readonly>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%">
                                <label>Durée du crédit</label>
                            </td>
                            <td width="50%">
                                <input class="form-control" placeholder="Durée en mois" type="number">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <table>
                        <tr>
                            <td width="50%">
                                <a class="btn btn-primary">Simuler</a>
                            </td>
                            <td width="50%">
                                <input class="form-control" placeholder="Résultat : Dt/Mois" readonly>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div><!-- /.col-->
    </div>




{% endblock %}