{% extends "baseConnect.html.twig" %}

{% block title %}Espace d'authentification{% endblock %}

{% block theme %}
    <link href="{{ asset('templateIMG/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>

    <script src="{{ asset('templateIMG/lib/prettyphoto/js/prettyphoto.js') }}"></script>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div align="center">
                <img src="{{ asset('templateIMG/img/workInProgress.png') }}" class="img-responsive" alt="">
            </div>
        </div>
        <!--/row-->
    </div>
{% endblock %}

