<head>
    <title>Connect</title>


</head>
<body>
<td align="center">
    <h1>Se Connecter</h1>
    <table>
        <tr>
            <td> Login</td>
            <td><input type="text" name="log"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="pas"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Connect"></td>
        </tr>
    </table>
</td>
</body>